
#body-content-header-add-account {
    display: flex;
    align-items: center;
    padding-left: 20px;
}

#add-account:hover {
    color: black;
}



#wines-container {
    padding: 5px 40px;
    font-size: 12px;
}


table {
    border-collapse: collapse;
    width: 100%;
}

th {
    background-color: #dddddd;
    text-align: center;
    padding: 8px;
}

a.column-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a.column-header:hover {
    cursor: pointer;
    color: #797979;
}

span.sorting-symbol {
    margin: 0 0 0 5px;
    font-size: 20px;
    /* align-items: center; */
}


td {
    border-bottom: 1px solid #dddddd;
    text-align: left;
    padding: 5px;
}

#drank-header {
    text-align: center;
    color: #6B1D82;
    font-size: 20px;
}
