
#body-content-header-add-account {
    display: flex;
    align-items: center;
    padding-left: 20px;
}

#add-account:hover {
    color: black;
}



#wines-container {
    padding: 5px 40px;
    font-size: 12px;
}


table {
    border-collapse: collapse;
    width: 100%;
}

th {
    background-color: #dddddd;
    /* border-bottom: 1px solid #999999; */
    text-align: center;
    padding: 5px;
}


td {
    border-bottom: 1px solid #dddddd;
    text-align: left;
    padding: 5px;
}
