
#body-content-header-add-account {
    display: flex;
    align-items: center;
    padding-left: 20px;
}

#add-account:hover {
    color: black;
}



#wines-container {
    padding: 5px 40px;
    font-size: 13px;
}


table {
    border-collapse: collapse;
    width: 100%;
}

th {
    background-color: #dddddd;
    text-align: center;
    padding: 8px;
}

a.column-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a.column-header:hover {
    cursor: pointer;
    color: #797979;
}

span.sorting-symbol {
    margin: 0 0 0 5px;
    font-size: 20px;
    /* align-items: center; */
}


td {
    border-bottom: 1px solid #dddddd;
    text-align: left;
    padding: 5px;
}

#drank-header {
    text-align: center;
    color: #6B1D82;
    font-size: 20px;
}

.wine-detail-row-link {
    color: #6B1D82;
}
.wine-detail-row-link:hover {
    color: #ab33cf;
}



#popupOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent black background for the overlay */
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 2; /* Ensure the popup appears above other elements */
}

#popupContent {
    background: white;
    padding: 20px 30px;
    border-radius: 10px;
    width: 60%;
    /* height: 80%; */
    text-align: center;
}

#popupContentHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#popupContentHeaderTitle {
    font-size: 32px;
    text-align: left;
    /* padding: 5px; */
    /* padding: 10px; */
}

#closePopupButton {
    border: none;
    background-color: white;
    font-size: 24px;
}

#closePopupButton:hover {
    cursor: pointer;
    color: #999999;
}


.add-wine-form-container {
   
    display: flex;
    flex-direction: row;
    justify-content: left;
    /* display: flex;
    flex-direction: row; */
    /* padding: 0 10px; */
}

#form-add-wine {
    margin-top: 20px;
}

#add-wine-left-side-div {
    width: 40%;
}

#add-wine-right-side-div {
    width: 60%;
    padding-left: 10px;
}



.add-wine-details-form-group {
    display: flex;
    padding: 5px;
    font-size: 13px;
    align-items: center;
    justify-content: space-between;
}
.add-wine-details-form-control {
    font-size: 13px;
    padding: 4px;
}

.add-wine-details-form-control-dropdown {
    text-align: center;
}

select, input, textarea {
    font-family: "Exo 2";
}

label {
    margin-right: 10px;
    text-align: left;
}

/* 
.right-side {
    flex-grow: 1;
} */

.add-wine-info-form-control {
    width: 100%;
    height: 50px;
    resize: none;
    font-size: 13px;
    padding: 4px;
}

.add-wine-details-form-group.new-owner {
    display: none;
    font-size: 11px;
    padding: 2px 25px;
    align-items: right;
    /* width: 75%; */
}

.add-wine-details-form-control.new-owner {
    font-size: 11px;
    padding: 3px;
}

.add-wine-details-form-control-dropdown.new-owner {
    text-align: center;
    font-size: 11px;
}


.required-asteriks {
    color: red;
    /* font-size: 16px; */
}



#add-wine-bottom {
    display: flex;
    justify-content: flex-end;
    /* padding: 5px 0; */
}

#add-wine-submit {
    background-color: #c0c0c0;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    padding: 10px;
}

#add-wine-submit:hover {
    cursor: pointer;
    background-color: #999999;
}

#clear-add-wine {
    border: none;
    background-color: white;
    font-weight: 600;
    font-size: 16px;
    margin-right: 10px;
}

#clear-add-wine:hover {
    border: none;
    cursor: pointer;
    color: #999999;
}

/* #logout-button {
    padding: 10px 0;
    background-color: #c0c0c0;
    border-radius: 2px;
}

#logout-button:hover {
    background-color: #999999;
} */



input, textarea, select {
    color: black;
    border-radius: 5px;
    border: 1px solid #999999; 
    opacity: 0.7;
    width: 50%;
}

input::placeholder {
    color: #999999; /* Adjust the color to your preference */
}

input:hover, textarea:hover, select:hover {
    border-color: #646464;
}

input:focus, textarea:focus, select:focus {
    border-color: black; /* New border color when in focus */
    outline: none; /* Remove the default blue outline on focus */
    opacity: 1;
}


input[type="number"] {
    width: 65px;
}
