{% extends "base.html" %}


{% block additional_static_files %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/wines.css') }}">
<script src="{{ url_for('static', filename='js/wines.js') }}"></script>
{% endblock %}


{% block page_title %}
<title>WINEBASE - Wines</title>
{% endblock %}


{% block tabs %}
<h4 class="tabs"><a class="header" href="{{ url_for('tabs.wines') }}" style="color:black">WINES</a></h4>
<h4 class="tabs"><a class="header" href="{{ url_for('tabs.cellars') }}">CELLARS</a></h4>
{% endblock %}



{% block body_content_header %}
<div id="body-content-header-custom">
    <div class="body-content-header-item" id="body-content-header-add-account">
        <a id="add-account" class="header" onclick="showWineForm()"><span >&#43; ADD WINE</span></a>
    </div>
    <div class="body-content-header-item" id="wine-filters">
        <label class="checkbox-container">
            <span class="checkbox-label">Unopened</span>
            <input id="undrank-checkbox" type="checkbox" name="undrank" checked onchange="handleDrankCheckboxChange()">
        </label>
    
        <label class="checkbox-container">
            <span class="checkbox-label">Consumed</span>
            <input id="drank-checkbox" type="checkbox" name="drank" onchange="handleDrankCheckboxChange()">
        </label>
        <span id="table-filters">Filters</span>
    
        <!-- This is where the filters and column settings will go -->
    </div>
</div>


{% endblock %}



{% block content %}
<div id="wines-container">
    
    
    <table>
        <thead id="wines-table-head"></thead>
        <tbody id="wines-table-body"></tbody>
        <tfoot id="wine-table-footer">
            <tr>
                <td id="table-footer-bottom-data" colspan="14">
                    <div id="wine-table-footer-div">
                        <span id="table-showing"></span>
                        <button id="prev-table-button" class="table-nav-buttons" onclick="navigatePrevOrNextPage(this.id)">
                            <span>&larr;</span>
                        </button>
                        <span id="page-number">1</span>
                        <button id="next-table-button" class="table-nav-buttons" onclick="navigatePrevOrNextPage(this.id)">
                            <span>&rarr;</span>
                        </button>
                    </div>
                </td>
            </tr>
        </tfoot>
    </table>

    
    <div id="popupOverlay" class="overlay">
        <div id="popupContent" class="popup">
            <div id="popupContentHeader">
                <h2 id="popupContentHeaderTitle"></h2>
                <div id="wine-details-form">
                    <button class="closePopupButton" id="delete-wine-button"><i class="fa fa-trash" id="trash-can-id"></i></button>
                    <button class="closePopupButton" id="edit-wine-button" ><i class="fa fa-pencil"></i></button>
                    <button class="closePopupButton" onclick="closeAddWinePopup()">&#10005;</button>
                </div>
                
            </div>
            
            <form id="form-add-wine" method="POST">
                <div class="add-wine-form-container">
                    <div id="add-wine-left-side-div">
                        <div class="add-wine-details-form-group">
                            <label for="cellar-input">Cellar</label>
                            <select class="add-wine-details-form-control-dropdown" id="cellar-input" name="cellar-input">
                                <option value="">-</option>
                                <option value="HOME">HOME</option>
                            </select>
                            <!-- Need to get these from the database, aka the available ones -->
                            <!-- this can be done on the function for when the add form pops up -->
                        </div>
    
                        <div class="add-wine-details-form-group">
                            <label for="bin-location-input">Bin Location</label>
                            <input
                                type="text"
                                class="add-wine-details-form-control"
                                id="bin-location-input"
                                name="bin-location-input"
                                placeholder="ex: A1-F"
                            />
                            <!-- backend needs to see if this location is available -->
                            <!-- this can be done when the form is submitted -->
                        </div>
    
                        <div class="add-wine-details-form-group">
                            <label for="owner-input">Owner <span class="required-asteriks">&#42;</span></label>
                            <select class="add-wine-details-form-control-dropdown invalid-input" id="owner-input" name="owner-input">
                                <!-- Need to get these from the database, aka the available ones -->
                                <!-- this can be done on the function for when the add form pops up -->
                                <option value="">-</option>
                                <option value="SCKR">SCKR</option>
                                <option value="new-owner">&#43; Add Owner</option>
                            </select>
                        </div>
                        
                        <div class="add-wine-details-form-group new-owner">
                            <label for="new-owner-name-input">Name <span class="required-asteriks">&#42;</span></label>
                            <input
                                type="text"
                                class="add-wine-details-form-control new-owner"
                                id="new-owner-name-input"
                                name="new-owner-name-input"
                                placeholder="ex. Spencer"
                            />
                        </div>

                        <div class="add-wine-details-form-group new-owner">
                            <label for="new-owner-initials-input">Initials <span class="required-asteriks">&#42;</span></label>
                            <input
                                type="text"
                                class="add-wine-details-form-control new-owner"
                                id="new-owner-initials-input"
                                name="new-owner-initials-input"
                                placeholder="ex. SCKR"
                            />
                            <!-- backend needs to see if this location is available -->
                            <!-- this can be done when the form is submitted -->

                        </div>

                        <div class="add-wine-details-form-group new-owner">
                            <label for="new-owner-color-input">Color <span class="required-asteriks">&#42;</span></label>
                            <select class="add-wine-details-form-control-dropdown new-owner" id="new-owner-color-input" name="new-owner-color-input">
                                <!-- Need to get these from the database, aka the available ones -->
                                <!-- this can be done on the function for when the add form pops up -->
                                <option value="">-</option>
                                <option value="1">blue</option>
                                <option value="2">red</option>
                                <option value="3">green</option>
                                <option value="4">yellow</option>
                                <option value="5">orange</option>
                            </select>
                        </div>
    
                        <div class="add-wine-details-form-group">
                            <label for="vintage-input">Vintage <span class="required-asteriks">&#42;</span></label>
                            <input
                                type="text"
                                class="add-wine-details-form-control invalid-input"
                                id="vintage-input"
                                name="vintage-input"
                                placeholder="ex: 2016"
                            />
                        </div>
    
                        <div class="add-wine-details-form-group">
                            <label for=varietals-input>Varietal(s) <span class="required-asteriks">&#42;</span></label>
                            <input
                                type="text"
                                class="add-wine-details-form-control invalid-input"
                                id="varietals-input"
                                name="varietals-input"
                                placeholder="ex: Syrah"
                            />
                        </div>
    
                        <div class="add-wine-details-form-group">
                            <label for="wine-name-input">Wine Name</label>
                            <input
                                type="text"
                                class="add-wine-details-form-control"
                                id="wine-name-input"
                                name="wine-name-input"
                                placeholder="ex: Cing Cepages"
                            />
                        </div>
    
                        <div class="add-wine-details-form-group">
                            <label for="winery-name-input">Winery Name</label>
                            <input
                                type="text"
                                class="add-wine-details-form-control invalid-input"
                                id="winery-name-input"
                                name="winery-name-input"
                                placeholder="ex: St. Francis"
                            />
                        </div>
    
                        <div class="add-wine-details-form-group">
                            <label for="winery-location-input">Winery Location</label>
                            <input
                                type="text"
                                class="add-wine-details-form-control"
                                id="winery-location-input"
                                name="winery-location-input"
                                placeholder="ex: Sonoma County, CA"
                            />
                        </div>
    
                        <div class="add-wine-details-form-group">
                            <label for="vineyard-location-input">Vineyard Location</label>
                            <input
                                type="text"
                                class="add-wine-details-form-control"
                                id="vineyard-location-input"
                                name="vineyard-location-input"
                                placeholder="ex: Winery Estate, ..."
                            />
                        </div>
    
                        <div class="add-wine-details-form-group">
                            <label for="entry-date-location-input">Entry Date <span class="required-asteriks">&#42;</span></label>
                            <input
                                type="date"
                                class="add-wine-details-form-control invalid-input"
                                id="entry-date-location-input"
                                name="entry-date-location-input"
                            />
                        </div>
                        <div class="add-wine-details-form-group">
                            <label for="drank-input">Drank?</label>
                            <select class="add-wine-details-form-control-dropdown" id="drank-input" name="drank-input">
                                <option value="NO">NO</option>
                                <option value="YES">YES</option>
                            </select>
                        </div>
                        <div class="add-wine-details-form-group">
                            <label for="drink-date-location-input">Drink Date</label>
                            <input
                                type="date"
                                class="add-wine-details-form-control"
                                id="drink-date-location-input"
                                name="drink-date-location-input"
                            />
                        </div>
                    </div>
                    <div id="add-wine-right-side-div">
                        <div class="add-wine-details-form-group">
                            <label for="acquisition-info-input">Aquisition Info</label>
                            <textarea
                                type="text"
                                class="add-wine-info-form-control"
                                id="acquisition-info-input"
                                name="acquisition-info-input"
                                placeholder="ex: Q1 wine shipment OR Wine tasting purchase - 6/3/2023"
                            ></textarea>
                        </div>
                        <div class="add-wine-details-form-group">
                            <label for="personal-notes-input">Personal Notes</label>
                            <textarea
                                type="text"
                                class="add-wine-info-form-control"
                                id="personal-notes-input"
                                name="personal-notes-input"
                                placeholder="ex: Bold, tanniny and vibrant"
                            ></textarea>
                        </div>
                        <div class="add-wine-details-form-group">
                            <label for="purchase-price-input">Purchase Price</label>
                            <input
                                type="text"
                                class="add-wine-details-form-control"
                                id="purchase-price-input"
                                name="purchase-price-input"
                                placeholder="ex: $45.00"
                            />
                        </div>
                        <div class="add-wine-details-form-group">
                            <label for="expert-rater-name-input">Expert Rater Name</label>
                            <input
                                type="text"
                                class="add-wine-details-form-control"
                                id="expert-rater-name-input"
                                name="expert-rater-input"
                                placeholder="ex: Robert Parker"
                            />
                        </div>
                        <div class="add-wine-details-form-group">
                            <label for="expert-rating-input">Expert Rating</label>
                            <input
                                type="number"
                                class="add-wine-details-form-control"
                                id="expert-rating-input"
                                name="expert-rating-input"
                                min="50"
                                max="100"
                                placeholder="ex: 94"
                            />
                        </div>
                        <div class="add-wine-details-form-group">
                            <label for="personal-rating-input">Personal Rating (1-5)</label>
                            <input
                                type="number"
                                class="add-wine-details-form-control"
                                id="personal-rating-input"
                                name="personal-rating-input"
                                min="1"
                                max="5"
                                placeholder="ex: 4"
                            />
                        </div>
                    </div>
                </div>
                
                <div id="add-wine-bottom">
                    <button type="reset" id="clear-add-wine"></button>
                    <button type="submit" id="add-wine-submit">SUBMIT</button>
                </div>
                

            </form>
        </div>
    </div>

</div>


{% endblock %}