{% extends "base.html" %}


{% block page_title %}
<title>WINEBASE - Wines</title>
{% endblock %}


{% block tabs %}
<h4 class="tabs"><a href="{{ url_for('tabs.wines') }}" style="color:black">WINES</a></h4>
<h4 class="tabs"><a href="{{ url_for('tabs.cellars') }}">CELLARS</a></h4>
{% endblock %}


{% block content_title %}
<h2>WINES</h2>
{% endblock %}


{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/wines.css') }}">
<div id="wines-container">
    
</div>


{% endblock %}